body{
    background-color: rgb(181, 143, 162);
}

.container{
    background-color: rgb(229, 205, 229);
    margin: 0 auto;
    border: 1px solid black;
    padding: 50px;
}

.nav{
    list-style: none;
    text-align: center;
}

.nav li{
    display:inline;
    margin-right: 20px;
}

#span1 {
    color:rgb(116, 46, 148);
    font-family: 'Gochi Hand';font-size: 22px;
}

#span2 {
    font-size: 50px;
}